.ancor_link {
    text-decoration: none;
    color: black;
}

.sidebar_div {
    /* background-color: rgb(75, 75, 75); */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}

.sidebar__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    /* background-color: rgb(75, 75, 75); */
    height: 100%;
}

/* .sidebar_button {
    background-color: rgb(75, 75, 75);
} */